.navbar {
	background-color: #2C3E50; 
	height: 106;
}

.navbar a{
	color: white !important;
	font-size: 20px;
}

.navbar .navbar-brand{
	margin-left: 100px;
	font-size: 40px;
	font-weight: bold;
}

.jumbotron{
	background-color: #18BC9C;
	color: white;
}

.jumbotron h1{
	font-size: 71px;
	font font-weight: 700;
}

.jumbotron .icono{
	font-size: 50px;
}

.jumbotron p{
	font-size: 25px;
}

.rosa{
	background-color: deeppink;
}

.azul{
	background-color: deepskyblue;
}

.negro{
	background-color: black;
}

footer{
	height: 250px;
	background-color: #2C3E50;
	color: #fff;
}